<div class="container">

  <div class="container-table">

  <table class="table ">
    <thead>
      <tr class="titulos">
        <th class="table-fit col-1" scope="col"></th>
        <th class="table-fit col-1" scope="col"></th>
        <th class="table-fit col-1"scope="col" >QUANTITY</th>
        <th class="table-fit col-1" scope="col">PRICE</th>
        <th class="table-fit col-1" scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td ><img class="imagen" src="https://images.cdn1.buscalibre.com/fit-in/360x360/66/1a/661a3760157941a94cb8db3f5a9d5060.jpg"  ></td>
        
        <td class="table-fit col-2" >Essential Cryptography for JavaScript Developers
          <div class="container-remove">
          <a  class="btn btn-default" type="button">Remove</a>
        </div>
        </td>
        <td class="table-fit col-2">
          <div class="elements-container">
          <a type="button">
            <i class="fas fa-minus"></i> 
          </a> 
          <div class="quantity">
          <input type="text" style="text-align: center;" class="form-control">   
        </div>    
          <a type="button">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        </td >  
        <td  class="table-fit col-2">
          <div class="elements-container" style="padding-left: 50px;">
          Otto
        </div>
      </td>
        <td  class="table-fit col-2">
          <div class="elements-container" style="padding-left: 40px;">
          @mdo
        </div>
      </td>
      </tr>
    </tbody>
  </table>

  <div class="continue-shopping">
    <a type="button">
      <i class="fas fa-arrow-left" style="margin-right: 20px;"></i>
    </a>
  <h5 >Continue Shopping</h5>
  
</div>

</div>
<div class="container-form">
  <app-summary></app-summary>
</div>


 

</div>
