<div class="container">
    <div class="titulo-summary">
        <h3>Order Summary</h3>
    </div>
    <div class="factura">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Subtotal</li>
        <li class="list-group-item" style="padding-left: 90px;">$ 110.97</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Shipping</li>
        <li class="list-group-item" style="padding-left: 90px;">$ 0</li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Code OFF5</li>
        <li class="list-group-item" style="padding-left: 65px;">- $ 5.54</li>
      </ul>
    </div>
    <div class="order" >
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Order total</li>
            <li class="list-group-item" style="padding-left: 52px;">$ 105.42</li>
          </ul>  
    </div>

    <div class="container-code">
        <div class="promo">
            <h6>Promo code</h6>
            <i class="bi bi-plus-circle"></i>
        </div>

       <div class="formulario">
        <div class="input-group mb-3">
            <input type="text" class="form-control input-promo" >
            <button class="btn btn-outline-secondary" type="button" >REMOVE</button>
          </div>
       </div>

       <div class="container-checkout">
        <button class="boton-checkout" type="button">CHECKOUT</button>
       </div>
    </div>

</div>


