<div class="container">
  <div class="titulo-summary">
    <h3>Order Summary</h3>
  </div>
  <div class="factura">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Subtotal</li>
      <li class="list-group-item" style="padding-left: 90px;">$ {{subtotal.toFixed(2)}}</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Shipping</li>
      <li class="list-group-item" style="padding-left: 90px;">$ {{shipping.toFixed(2)}}</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Code OFF5</li>
      <li class="list-group-item" style="padding-left: 65px;">- $ {{discount.toFixed(2)}}</li>
    </ul>
  </div>
  <div class="order">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Order total</li>
      <li class="list-group-item" style="padding-left: 52px;">$ {{(subtotal + shipping - discount).toFixed(2)}}</li>
    </ul>
  </div>

  <div class="container-code">
    <div class="promo">
      <h6>Promo code</h6>
      <a type="button" (click)="addCode()"><i class="bi bi-plus-circle"></i> </a>
    </div>
    <!--  -->
    <div class="formulario" [formGroup]="summaryForm">
      <div class="input-group mb-3">

        <div *ngFor="let item of getPromo.controls; let pointIndex=index" [formGroupName]="pointIndex.toString()">
          <input formControlName="promoCode" id="promoCode" type="text" class="form-control input-promo">
          <div class="boton-remove">
            <button class="btn btn-outline-secondary " type="button" (click)="removeCode(pointIndex)">REMOVE</button>
          </div>
        </div>

      </div>
    </div>

    <div class="container-checkout">
      <button class="boton-checkout" type="button">CHECKOUT</button>
    </div>
  </div>

</div>