
<div class="container"  >
    <div class="card" >
        <div >
            <img class="imagen"src={{thumbnail}}>
        </div>
        <div class="card-body">
          <h4 class="card-price">{{price}}</h4>
          <div class="card-letter">
           <h5 class="card-title">{{title}}</h5>
          <p class="card-text " >{{description}}</p>
          <h6 class="card-subtitle mb-2 text-muted">{{author}}</h6>
          <button type="button" class="btn btn-dark" >+   ADD TO CART </button>
        </div>
        </div>
      </div>
</div>