

/* .titulo{
    padding-left: 215px ;
    padding-top: 25px ;
    font-weight: bold;
    font-size: 32px ;
} */

/* 
.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 400px;
    justify-content: space-around;
} */
